---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #0f0f0f;
$header-bg-color-secondary: #575757;

// Text
$section-headings-color: #696a6b;
$body-text-color: #696a6b;
$body-link-color: #b8351e;
$blockquote-text-color: #999999;

// Code
$code-bg-color: #f5f5f5;
$code-text-color: #806060;

// Borders
$border-color: #ebebeb;
$table-border-color: #ebebeb;
$hr-border-color: #ebebeb;

@import "{{ site.theme }}";

.btn,
.btn:hover {
    color: #FFD600;
}
