---
---

// Headers
$header-heading-color: #fff;
$header-bg-color: #575757;
$header-bg-color-secondary: #0f0f0f;

// Text
$section-headings-color: #2e2e2e;
$body-text-color: #2e2e2e;
$body-link-color: #b8351e;
$blockquote-text-color: #999999;

// Code
$code-bg-color: #f5f5f5;
$code-text-color: #806060;

// Borders
$border-color: #ebebeb;
$table-border-color: #ebebeb;
$hr-border-color: #ebebeb;

@import "{{ site.theme }}";

.project-name {
    color: #FFD600;
}

.btn,
.btn:hover {
    color: #FFD600;
}

